* {
  transition: all 0.2s ease;
}

body {
  background: #eaeded;
}

button {
  cursor: pointer;
}


/*------------------------------- Responsive design ------------------------------------*/

/* Tablet */
@media (max-width: 1024px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}